/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* utilities */
.vh-100{
    height: 100vh;
}

.vh-85{
    height: 85vh;
}

.vh-5{
    height: 5vh;
}

.vh-10{
    height: 10vh;
}

.debug{
    border: 3px dashed red;
}

.bg-black{
    background-color: #1a1a1a;
}

.bg-grey{
    background-color: #222222;
}

.width-90{
    width: 90%;
    margin: 0 auto;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap:wrap;
}

.justify-content-beetween{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-center{
    justify-content: center;
}

.btn{
    border-radius: 5px;
    color: white;
    padding: 5px 3px;
}

.green{
    color: #4bc800;
}

/* top */
.top-bar{
    width: 100%;
    padding: 10px 5px;
    
}

.top-btn .btn{
    background-color: #4a4a4a;
    font-size: 12px;
}

/* cards */
.cards{
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
}

.card{
    width: calc(100%/7 - 1%);
    height: calc(85vh/5 - 2%);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mic-name{
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
    padding: 5px;
    font-size: 15px;
}

/* footer */

#end{
    color: red;
    background-color:#4a4a4a;
    padding: 0 10px;
}

.bottom .btn:hover{
    background-color: #4a4a4a;
}

.left ,
.center{
    padding: 10px 0;
}

.fa-angle-up:only-of-type{
    font-size:15px;
}

span.text{
    font-size:13px;
}

.bottom i{
    font-size: 25px;
}

.bottom{
    bottom: 0;
    left: 0;
    right: 0;
}



